<div class="d-inline-flex p-2 justify-content-center align-items-center ">
    <img src="https://orangedao-assets.s3.ap-south-1.amazonaws.com/orangelogo.svg" alt="gem" width="80" height="80">
    <h1>Orange Dao gem</h1>
</div>

<img class="img-fluid p-4 hero-image" src="https://orangedao-assets.s3.ap-south-1.amazonaws.com/heroimage.png"
    alt="gem">