<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Orange Dao gem</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-bg {
        background: #FFEBB9;
        padding: 4px;
        border-radius: 20px;
        color: #FB870F;
        font-weight: 700;
    }

    .hero-image {
        margin: 10px;
        max-width: 350px;
        max-height: 350px;
    }
</style>