<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="container text-bg-light text-center">
    <%- include('../partials/body') %>
    <h3 class="p-4"><%= message %></h3>
    <!-- <p class="lh-lg">Please retry with correct YC login credentials</p> -->
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>