<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<main>
  <div class="container column text-bg-light text-center">
    <%- include('../partials/body') %>
    <h4>Successfully registered for gem</h4>
    <p class="lh-lg">Gem will be airdropped to <small class="text-bg"><%= userAddress %> </small>  shortly</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>